@import "compass";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:200,400,600);
@include global-reset;

$background-color-inverted: #2B2927;
$font-color-inverted: #DEDEDE;
$font-color-active-inverted: #FFFFFF;

$background-color-darker: #F7F7F7;
$font-color: #5E5E5E;
$font-color-active: #2B2B2B;
$key-color: #C63054;
$key-color-active: #8B394D;
$line-color: #BFBFBF;

$sidebar-width: 28rem;
$main-side-margin: 4rem;

@mixin weight-light {
  font-weight: 200;
}

@mixin weight-bold {
  font-weight: 400;
}

@mixin hover-color($color) {
  &:hover {
    color: $color;
  }
}

// Common

html, body {
  height: 100%;
  font-size: 75%;
}

body {
  font-family: 'Raleway', 'M+ 2p', sans-serif;
  color: $font-color;
}

h1, h2 {
  @include weight-light;
  font-family: 'Raleway', 'M+ 2p', sans-serif;
}

a {
  text-decoration: none;
}

// Main

#main {
  @include box-flex(1);

  .article-header {
    @include reset-box-model;
    background-color: $background-color-darker;

    h1 {
      @include reset-box-model;
      font-size: 3rem;
      border-style: none;
      padding-bottom: 2rem;
      margin-left: $main-side-margin - 0.25rem;
      margin-right: $main-side-margin - 0.25rem;;
    }
    p {
      @include reset-box-model;
      margin-left: $main-side-margin;
    }

    position: relative;
    top: -2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-left: -$main-side-margin;
    margin-right: -$main-side-margin;
  }

  .container {
    max-width: 960px;
  }

  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: $main-side-margin;
  margin-right: $main-side-margin;

  @mixin section-divisor {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  @mixin paragraph-unit {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @mixin base-text {
    font-size: (7 / 6) * 1rem;
    line-height: 2rem;
  }

  h1 {
    font-size: 3rem;
    border-style: solid;
    border-left-width: 1rem;
    border-color: $key-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    @include section-divisor;
    margin-left: -$main-side-margin;
  }

  h2 {
    @include section-divisor;
    @include weight-bold;
    font-size: 2rem;
  }

  h3 {
    @include section-divisor;
    @include weight-bold;
    @include base-text;
  }

  a {
    text-decoration: none;
    color: $key-color;
    @include hover-color($key-color-active);
  }

  a.no-color {
    text-decoration: none;
    color: $font-color;
    @include hover-color($font-color-active);
  }

  p {
    @include base-text;
    @include paragraph-unit;
  }

  b {
    @include weight-bold;
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  ul.no-dots {
    list-style-type: none;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    @include base-text;
  }

  hr {
    $height: (1/6) * 1rem;
    height: $height;
    border: 0;
    background-color: $line-color;
    margin-top: 4rem - $height / 2;
    margin-bottom: 4rem - $height / 2;
  }

  pre {
    font-family: 'Source Code Pro', monospace;
    @include base-text;
    background-color: $background-color-inverted;
    overflow: scroll;
    @include paragraph-unit;
    padding: 2rem;
    white-space: pre-wrap;
  }
}

#columns {
  width: 100%;
  @include display-box;
}

#sidebar {
  background-color: $background-color-inverted;
  a {
    color: $font-color-inverted;
    @include hover-color($font-color-active-inverted);
  }

  h1 {
    color: $font-color-inverted;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 200;
  }

  ul {
    list-style-type: none;
    li {
      font-size: 2rem;
      font-weight: 200;
    }
  }
}

@mixin wide-screen {

  #columns {
    @include box-orient(horizontal);
  }

  #sidebar {
    width: $sidebar-width;
    min-height: 100vh;

    h1 {
      padding-top: 10rem;
      padding-left: 4rem;
      padding-bottom: 10rem;
    }

    ul {
      padding-left: 7rem;
      list-style-type: none;
      li {
        margin-bottom: 4rem;
      }
    }
  }

}

@mixin narrow-screen {

  #columns {
    @include box-orient(vertical);
  }
  #sidebar {
    padding: 2rem;

    h1 {
      padding-left: 4rem;
      padding-bottom: 2rem;
    }
    ul {
      padding-top: 2rem;
      li {
        display: inline;
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (min-device-pixel-ratio: 1.5) {
  html {
    font-size: 112.5%;
  }
}

@media screen and (min-device-pixel-ratio: 2) {
  html {
    font-size: 150%;
  }
}

@media print {
  @include narrow-screen;
}

@media screen and (min-width: 800px) {
  @include wide-screen;
}

@media screen and (max-width: 799px) {
  @include narrow-screen;
}

