@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:200,400,600);
/* line 17, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/seanchas116/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 36, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
html, body {
  height: 100%;
  font-size: 75%; }

/* line 41, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
body {
  font-family: 'Raleway', 'M+ 2p', sans-serif;
  color: #5e5e5e; }

/* line 46, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
h1, h2 {
  font-weight: 200; }

/* line 50, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
a {
  text-decoration: none; }

/* line 56, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
#main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem; }
  /* line 59, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main .article-header {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f7f7f7;
    position: relative;
    top: -2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-left: -4rem;
    margin-right: -4rem; }
    /* line 63, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #main .article-header h1 {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 3rem;
      border-style: none;
      padding-bottom: 2rem;
      margin-left: 3.75rem;
      margin-right: 3.75rem; }
    /* line 71, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #main .article-header p {
      margin: 0;
      padding: 0;
      border: 0;
      margin-left: 4rem; }
  /* line 84, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main .container {
    max-width: 960px; }
  /* line 108, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    border-style: solid;
    border-left-width: 1rem;
    border-color: #c63054;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: -4rem; }
  /* line 121, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2rem; }
  /* line 127, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem; }
  /* line 134, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main a {
    text-decoration: none;
    color: #c63054; }
    /* line 29, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #main a:hover {
      color: #8b394d; }
  /* line 140, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main a.no-color {
    text-decoration: none;
    color: #5e5e5e; }
    /* line 29, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #main a.no-color:hover {
      color: #2b2b2b; }
  /* line 146, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main p {
    font-size: 1.16667rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  /* line 151, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main b {
    font-weight: 400; }
  /* line 155, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 1rem; }
  /* line 161, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main ul.no-dots {
    list-style-type: none; }
  /* line 165, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main ol {
    list-style-type: decimal; }
  /* line 169, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main li {
    font-size: 1.16667rem;
    line-height: 2rem; }
  /* line 173, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main hr {
    height: 0.16667rem;
    border: 0;
    background-color: #bfbfbf;
    margin-top: 3.91667rem;
    margin-bottom: 3.91667rem; }
  /* line 182, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #main pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.16667rem;
    line-height: 2rem;
    background-color: #2b2927;
    overflow: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    white-space: pre-wrap; }

/* line 193, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
#columns {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box; }

/* line 198, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
#sidebar {
  background-color: #2b2927; }
  /* line 200, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #sidebar a {
    color: #dedede; }
    /* line 29, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar a:hover {
      color: white; }
  /* line 205, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #sidebar h1 {
    color: #dedede;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 200; }
  /* line 212, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #sidebar ul {
    list-style-type: none; }
    /* line 214, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar ul li {
      font-size: 2rem;
      font-weight: 200; }

@media screen and (min-device-pixel-ratio: 1.5) {
  /* line 271, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  html {
    font-size: 112.5%; } }
@media screen and (min-device-pixel-ratio: 2) {
  /* line 277, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  html {
    font-size: 150%; } }
@media print {
  /* line 250, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #columns {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical; }

  /* line 253, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #sidebar {
    padding: 2rem; }
    /* line 256, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar h1 {
      padding-left: 4rem;
      padding-bottom: 2rem; }
    /* line 260, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar ul {
      padding-top: 2rem; }
      /* line 262, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
      #sidebar ul li {
        display: inline;
        margin-left: 2rem; } }
@media screen and (min-width: 800px) {
  /* line 223, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #columns {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal; }

  /* line 227, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #sidebar {
    width: 28rem;
    min-height: 100vh; }
    /* line 231, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar h1 {
      padding-top: 10rem;
      padding-left: 4rem; }
    /* line 236, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar ul {
      padding-top: 10rem;
      padding-left: 7rem;
      list-style-type: none; }
      /* line 240, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
      #sidebar ul li {
        margin-bottom: 4rem; } }
@media screen and (max-width: 799px) {
  /* line 250, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #columns {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical; }

  /* line 253, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
  #sidebar {
    padding: 2rem; }
    /* line 256, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar h1 {
      padding-left: 4rem;
      padding-bottom: 2rem; }
    /* line 260, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
    #sidebar ul {
      padding-top: 2rem; }
      /* line 262, /Users/seanchas116/Repos/seanchas116.github.io/source/stylesheets/style.scss */
      #sidebar ul li {
        display: inline;
        margin-left: 2rem; } }
