---
title: Works
---

h1 Works

h2= link_to 'PaintField', 'http://seanchas116.github.io/PaintField/'

p
  | A simple cross-platform digital painting tool.

h2= link_to 'ruby-qml', 'https://github.com/seanchas116/ruby-qml'

p
  | A QML / Qt Quick bindings for Ruby.

h2= link_to 'seanchas116.github.io', 'https://github.com/seanchas116/seanchas116.github.io'

p
  | The GitHub repository for this site.